<div class="container1">
    <h2 class="text-center">My Cart</h2> 
    <!-- <h6 *ngIf="!purchased" class="emptyNote">Your cart is Empty!!</h6> -->
    <div class="row">


        <div class="col-md-4" *ngFor="let i of myCart" >

        


            <figure class="card card-product-grid">
                <div class="img-wrap">
                    <!-- <span class="badge badge-danger"> NEW </span> -->
                    <img [src]=i.image>
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
<!-- <<<<<<< adminCheck-branch
                        <a routerLink="#" class="title">{{i.name}}</a>
                        <div class="price-wrap mt-2">
                            <span class="price">Rs {{i.price}}</span>
                            <del class="price-old">Rs 1980</del>
======= -->
                        <a class="title">{{i.paintingname}}</a>
                        <div class="price-wrap mt-2">
                            <span class="price">Rs {{i.price}}</span><br>
                            <span class="price">{{i.dimension}}</span>
<!-- >>>>>>> master -->
                        </div> <!-- price-wrap.// -->
                    </div>
                    <a type="button"class="btn btn-block btn-primary" (click)="toOrders(i.paintingname,i.price,i.dimension,i.category,i.image)" style="background-color:#24a0ed;border: 1px solid #24a0ed;"><h5 style="color:white">Buy</h5></a>
                </figcaption>
            </figure>
        </div> <!-- col.// -->
    </div>
</div>

