<p class="display-6 text-center">Meet Our Artists</p>
<div class="container">
    <p class="lead">At Fusion Arts, we bring the best of professional and emerging artists ranging from modern masters to emerging genius artists covering a wide spectrum of fine art including Paintings, Drawings, Mixed Media, Print Making and Sculptures. Arts of few of the artists are also available in the form of Prints, Serigraphs.</p>
</div>
<hr>

<div class="container">
    <div class="row">
            <div class="column" >
            <div class="card" style="width: 18rem;">
                <img src="/assets/blank-profile-picture.jpg" class="card-img-top" alt="">
                <a routerLink="single" class="stretched-link"></a>
            </div>
            <p class="text-center">Name</p>
            </div>

            <div class="column" >
                <div class="card" style="width: 18rem;">
                <img src="/assets/blank-profile-picture.jpg" class="card-img-top" alt="">
                <a routerLink="single" class="stretched-link"></a>
                </div>
            </div>

          <div class="column" >
            <div class="card" style="width: 18rem;">
              <img src="/assets/blank-profile-picture.jpg" class="card-img-top" alt="">
              <a routerLink="single" class="stretched-link"></a>
            </div>
          </div>

          <div class="column" >
            <div class="card" style="width: 18rem;">
              <img src="/assets/blank-profile-picture.jpg" class="card-img-top" alt="">
              <a routerLink="single" class="stretched-link"></a>
            </div>
          </div>

          <div class="column" >
            <div class="card" style="width: 18rem;">
              <img src="/assets/blank-profile-picture.jpg" class="card-img-top" alt="">
              <a routerLink="single" class="stretched-link"></a>
            </div>
          </div>     
</div>