<body>
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>

    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>Fusion Arts</h1><br><br>
                <p>Earth without art is just “eh”<br>Interactions between the elements and principles <br>of art help
                    artists to organize sensorially pleasing works of art while also giving viewers a framework
                    within which to analyze and discuss aesthetic ideas.</p>
                    <p>Art is a diverse range of human activity, and resulting product, that involves creative or imaginative talent expressive of technical proficiency, beauty, emotional power, or conceptual ideas.</p>
              </div>
        </div>

   
        <div class="right">
            <h5 class="register">Create account</h5><br><br>

            <div [ngClass]="getclassName()" >{{message}}</div>


            <form  class="form_group field" [formGroup]="registerForm"  (ngSubmit)="onRegister()">
                <div class="inputs">
                    <label><b>Name</b></label>
                    <input id="name" name="name" formControlName="name" type="text" required><br><br>
                    <span class="text-danger"
                    *ngIf="(registerForm.controls['name'].touched||submitted) && registerForm.controls['name'].errors?.['required']">
                    Name  is required,
                </span>
                <span class="text-danger"
                *ngIf="registerForm.controls['name'].touched && registerForm.controls['name'].errors?.['pattern'] ">
            Invalid name.
            </span><br>
                    <label><b>Email ID</b></label> <input id="email1" name='email1' formControlName="email1" type="email" required><br><br>
                    <span class="text-danger"
                    *ngIf="(registerForm.controls['email1'].touched||submitted) && registerForm.controls['email1'].errors?.['required']">
                    Email is required
                </span>
                <span class="text-danger"
                    *ngIf="registerForm.controls['email1'].touched && registerForm.controls['email1'].errors?.['email']">
                    Enter a valid email address
                </span><br>
                    <label><b>Password</b></label> <input id="password" name="'password" formControlName="password" type="password" required>
                    <span class="text-danger"
                    *ngIf="(registerForm.controls['password'].touched||submitted) && registerForm.controls['password'].errors?.['required']">
                    Password is required
                </span>
                <span class="text-danger"
                *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors?.['invalidPassword']">
                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number
            </span>
                    <br><br><br>
                    <label><b>Contact Number</b></label> <input id="contactno" name='contactno' formControlName="contactno" type="text" required><br><br>
                    <span class="text-danger"
                    *ngIf="(registerForm.controls['contactno'].touched||submitted) && registerForm.controls['contactno'].errors?.['required']">
                    Contact No is required
                </span>
                <span class="text-danger"
                    *ngIf="registerForm.controls['contactno'].touched && registerForm.controls['contactno'].errors?.['pattern']">
                    Enter a valid Contact number
                </span><br><br>
                <label><b>Address</b></label> <input id="address" name='address' formControlName="address" type="text" required><br><br>
                <span class="text-danger"
                *ngIf="(registerForm.controls['address'].touched||submitted) && registerForm.controls['address'].errors?.['required']">
                Address is required
            </span><br><br>
                    <span class="alert alert-info">Please select one User Role</span><br><br>
                    <label for="userole"><b>User Role<h3></h3> <span></span>
                        <p></p> 
                    </b></label><br><br>

                   
                <select name="userrole" id="userrole" formControlName="userrole" required><br>
                    <option value="Buyer">Buyer</option>
                    <option value="Seller">Seller</option>
                </select>
               <span class="text-danger"
               *ngIf="(registerForm.controls['userrole'].touched||submitted) && registerForm.controls['userrole'].errors?.['required']">
               User role is required 
           </span>
            <br><br><br>
            
                   
                <button class="register" type="submit">Register</button><br><br>
                <div>
                    <p> <a href="/login">Already have an account?</a></p>
                </div></div>
            </form>
        </div>

    </div>
</body>