
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar">
        <div class="side-header">
          <h1> Welcome </h1>
          <p> {{username}} </p>
        </div>
        <nav class="sidenav">
          <!-- <input type="radio" class="checkbox" name="radio" id="0" checked>
          <label for="0" class="button"><a routerLink="profile">View Profile</a> </label> -->
          <input type="radio" class="checkbox" name="radio" id="1">        
          <label for="2" class="button"><a routerLink="sellerhistory"> My Paintings</a></label>
          <input type="radio" class="checkbox" name="radio" id="3">
          <label for="1" class="button" ><a routerLink="/seller/addwork"> Add Painting</a></label>
          <input type="radio" class="checkbox" name="radio" id="2">
          <!-- <label for="3" class="button"><a routerLink="wishlist"> Wish List</a></label>
          <input type="radio" class="checkbox" name="radio" id="4"> -->
          <div class="slide"></div>
        </nav>
    </div>
    </div>
    <div class="col-md-9" style="margin-top: 85px;">
      <router-outlet></router-outlet>
    </div>
  